@import 'tailwindcss';

/***
    Глобальные шрифты
***/

/* MonumentExtended */
@font-face {
	font-family: 'MonumentExtended';
	src: url('/fonts/MonumentExtended/MonumentExtended-Regular.otf') format('opentype');
	font-weight: 400;
}

/* Pixelify */
@font-face {
	font-family: 'Pixelify';
	src: url('/fonts/Pixelify/Pixelify-Regular.ttf') format('truetype');
	font-weight: 400;
}

/* SourceCode */
@font-face {
	font-family: 'SourceCode';
	src: url('/fonts/SourceCode/SourceCode-Regular.ttf') format('truetype');
	font-weight: 400;
}
@font-face {
	font-family: 'SourceCode';
	src: url('/fonts/SourceCode/SourceCode-Black.ttf') format('truetype');
	font-weight: 900;
}

:root {
	--font-main: 400 24.57px 'SourceCode';

	--color-primary: #161616;

	--transition-timing-function: cubic-bezier(0.17, 0.67, 0.45, 1.15);
}

* {
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
	padding: 0px;
	margin: 0px;
}

body {
	font: var(--font-main);
	color: var(--color-primary);
	padding: 0px;
	margin: 0px;
}

a {
	text-decoration: none;
}
